<section id="table-mensalidades">

   <header class="section-header">
      <h2>Mensalidades Configuradas</h2>

      <button id="nova_mensalidade" class="button" (click)="toogleModal()">
         Nova Mensalidade
      </button>
   </header>

   <table>
      <thead>
         <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Ações</th>
         </tr>
      </thead>

      <tbody>
         @for (mensalidade of mensalidades$ | async; track $index) {
         <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ mensalidade.nome }}</td>
            <td>R$ {{ mensalidade.valor }}</td>

            <td class="actions">
               <button class="button button-outline" (click)="editar(mensalidade)">
                  Editar
               </button>

               <button class="button button-clear danger" (click)="deletar(mensalidade.id)">
                  Deletar
               </button>
            </td>
         </tr>
         }
      </tbody>
   </table>
</section>
@if (showModal) {
<app-mensalidade-form [editarMensalidade]="mensalidadeSelecionada" (fecharModal)="onFecharModal()">
</app-mensalidade-form>
}

